extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Travis Alstrand 
        p Full Stack Developer in the making
        .about-bio
          p So far I have completed the Treehouse Front End Web Development, Full Stack JavaScript and Python Techdegrees.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Express
          li Python
          li Fetch and Public APIs
          li Node.js
          li Sqlite
          li Pug
        h6 Contact Info
        ul
          li 555-555-1234
          li email@email.com
        a.btn-link(href='https://www.linkedin.com/in/travis-alstrand/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/TravisAlstrand', target='_blank') GitHub
    nav.nav
      a(href='/')
        span &larr;
        |  Back